<% include ../partials/head %>
<section class="sample-content">
	<div id="images-container"></div>
	<div id="images_empty" style="display:none">
	 		<img src="/imgs/null-results.png">
	 		<p>No results, try searching again</p>
	</div>
		<div>
   	 	<p id="preview-description" style="display: none;">
        	<div class="snippet">
				<span id="images-count">0</span> images loaded from
        		<pre id="images-source">-</pre>
			</div>
    	</p>
	</div>	

</section>


<div class="floating-button">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="startSlideshow">
        <i class="material-icons">play_arrow</i>
		<span class="float-btn-label">Start Slideshow</span>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="saveCached">
        <i class="material-icons">save_alt</i>
        <span class="float-btn-label">Save cached photos</span>
    </button>
</div>

<% include ../partials/dialogs %>

<% include ../partials/js %>
<script src="/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/frame.js"></script>

<% include ../partials/footer %>
