<% include ../partials/slideshow-head %>
<section class="slideshow-content">
	
	<div id="images-container"></div>	

</section>

<div class="floating-button" style="display:none;">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="startSlideshow">
        <i class="material-icons">fullscreen</i>
		<span class="float-btn-label">Start Slideshow</span>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="startSlideshow">
        <span class="float-btn-label" id="manage">MANAGE</a>
    </button>
</div>

<% include ../partials/dialogs %>

<% include ../partials/js %>
<script src="/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/frame.js"></script>

<% include ../partials/footer %>
